{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block content %}
<h2>Add New Task</h2>

<form method="POST">
    <input name="title" placeholder="Task title" required><br><br>

    <select name="status">
        <option>Pending</option>
        <option>In Progress</option>
        <option>Completed</option>
    </select><br><br>

    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select><br><br>

    <button class="btn">Add Task</button>
</form>
{% endblock %}
